/*@import '@fontsource/fira-mono';*/
/*@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');*/
/*@import url('bootstrap-icons/bootstrap-icons.min.css');*/

html, body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    background-color: whitesmoke;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

/*.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}*/

button, a {
    cursor: pointer;
}

.text-gray-400 {
    --tw-text-opacity: 1;
    color: rgba(156,163,175,var(--tw-text-opacity));
}

.items-center {
    align-items: center;
}

.inline-flex {
    display: inline-flex;
}

.button-icon {
    --tw-text-opacity: 1;
    color: rgba(156,163,175,var(--tw-text-opacity));
    align-items: center;
    display: inline-flex;
    background-color: transparent;
    background-image: none;
    margin: 4px;
    padding: 4px;
}

    .button-icon:focus {
        outline: none;
        box-shadow: none;
    }

.button-transparent {
    background-color: transparent;
    background-image: none;
    margin: 4px;
    padding: 4px;
}

    .button-transparent:focus {
        outline: none;
        box-shadow: none;
    }
    
input:focus {
    background-color: lightyellow !important;
}